body{
    background-image: url("./Images/mainbg.jpg");
    /* background-position: center; */
    background-size: cover;
    min-width: 400px;

}
.nav-container{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin: 3rem;
    
}
.nav-menu{
    display: flex;
    list-style: none;
    justify-content: center;

    font-size: 16px;
    gap: 2rem;
  color: rgba(0, 0, 0, 0.5);

  /* margin-top: 1.5rem; */
  /* margin-right: 25rem; */
}
.nav-menu a{
  position: relative;
  text-decoration: none;
  letter-spacing: 0.5px;
  padding: 0 5px;
  color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
}
.editbtn{
    position: relative;
  text-decoration: none;
  letter-spacing: 0.5px;
  padding: 0 5px;
  color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}
.deletebtn{
    position: relative;
  text-decoration: none;
  letter-spacing: 0.5px;
  /* padding: 0 5px; */
  color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}
.editbtn::after, .deletebtn::after{
  content: "";
  position: absolute;
  background-color: rgb(95, 23, 23);
  height: 3px;
  left: 3px;
  bottom: 3px;
  cursor: pointer;
 opacity: 0.8s;
}
 a:hover:after{
  width: 100%;
}

.srh{
   margin-left: 50rem; 
   display: flex;
   gap: 1rem;
   margin-top: 1rem;
}
.search{
    display: flex;
    align-items: center;
    /* margin-left: 40%; */
    
    width: max-content;
    border-radius: 30px;
    background: #f6f6f6;

}

.close{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-top: 2%;
    padding: 4px;
    border-radius: 30px;
}
.icon-close{
    background-color: rgb(20, 57, 20);
    width: 2.5vh;
}
.icon-search{
    width: 1.5rem;
    color: #302d2d;
}
.search-input{
    font-size: 15px;
    color: #333;
    margin-left: 15px;
    outline: none;
    border: none;
    background: transparent;
    width: 280px;
}
.search-input::placeholder,.search-icon  {
    color: rgba(0, 0, 0, 0.5);
}

.btn {
    padding: 0.6rem;
    width: 15vh;
    margin-top: 5px;
    border-radius: 30px;
    border-color: transparent;
    color: #f6f6f6;
    font-size: 13px;
    background-color: rgb(20, 57, 20);

}
.addbtn{
    padding: 1rem;
    width: 8vh;
    font-size: 13px;
    margin-left: 50%;
    margin-top: 1rem;
    margin-bottom: 2%;
    border-radius: 10px;
    border-color: transparent;
    color: #f6f6f6;
    background-color: rgb(20, 57, 20);
}
.add-col{
    margin-left: 4rem;
}
.add-col input{
    border: 2px solid #f6f6f6;
    display: block;

}
.add-col.sucess input{
    border-color: #13a479;
}
.add-col.error input {
    border-color: #ff3860;
}
.add-col .error{
    color: red;
    font-size: 9px;
    height: 13px;
}
.img1{
    width: 40px;
    height: 50px;
}
.main-container{
    margin-top: 5rem;
}
.nysc{
    display: flex;
    justify-content: center;
}
.add-form {
    display: none;
    gap: 1rem;
}
.add-col{
    margin-top: 2rem;
    gap: 0.6rem; 
    display: grid;
    justify-content: center;
    align-items: center;
    text-align:center;
    /* width: max-content; */
}
label{
    display: grid;
    justify-content: left;
}
.input-space{
    font-size: 15px;
    color: #333;
    outline: none;
    border: none;
    background: solid #f6f6f6;
    width: 300px;
    padding: 14px;
    border-radius: 30px;
}
.col-mem {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
table{
    background-color: #f6f6f6;
    border-collapse: collapse;
    box-shadow: 0px 5px 10px #333;
    overflow: hidden;
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 100vh;
}
thead{
    box-shadow: 0px 5px 10px #333;
}
th {
    background-color: transparent;
    padding: 1rem 2rem;
    
}
tr{
  color: #333; 
}
td{
    width: max-content;
    text-align: center;
    padding: 1rem 2rem;
}

 @media (max-width: 768px)  {
    .nav-container{
      gap: 0.1rem;
      margin-right: 10rem;
    }
 .srh{
   /* display: block; */
padding: 3px;
   justify-content: center;
   align-items: center;
   
}
.srh{
    font-size: 12px;
    width: 10px;
    padding: 4px;
    border-radius: 30px;
    background: red;
    margin-right: 1rem;
}
.search-input{
    width: 10%;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 13px;
  color: rgba(0, 0, 0, 0.5);

  

  margin-top: 1.5rem;
  /* margin-right: 25rem; */
}
.btn{
     padding: 1rem;
    width: 10vh;
    border-radius: 20px;
    font-size: 12px;
    margin-top: 8%;
    
}
.addbtn{
    padding: 0.5rem;
    width: 10vh;
    font-size: 10px;
    margin-left: 50%;
    margin-bottom: 2%;
    border-radius: 10px;
    border-color: transparent;
    color: #f6f6f6;
    background-color: rgb(20, 57, 20);
}

.add-col{
    margin-left: 4rem;
}

.nysc{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 20px;
}
.close{
    width: 3vh;
}
.icon-close{
    margin-left: 40rem;
}

.add-form {
    display: none;
    gap: 0.2rem;
    font-size: 12px;
}
.add-col{
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align:center;
    /* width: max-content; */
}
.search-input{
    width: 150%;
    font-size: 10px;
}
label{
    display: grid;
    justify-content: left;
}
.input-space{
    font-size: 12px;
    color: #333;
    outline: none;
    border: none;
    background: solid #f6f6f6;
    width: 250px;
    padding: 12px;
    border-radius: 30px;
}
.col-mem {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
table{
    background-color: #f6f6f6;
    border-collapse: collapse;
    box-shadow: 0px 5px 10px #333;
    overflow: hidden;
    font-size: 13px;
    margin-bottom: 2rem;
    width: 100%;
}
thead{
    box-shadow: 0px 5px 10px #333;
}
th {
    background-color: transparent;
    padding: 1rem 2rem;
    
}
tr{
  color: #333; 
}
td{
    width: max-content;
    text-align: center;
    padding: 1rem 2rem;
}

}

@media (max-width: 1200px) {
    table{
        width: 100%;
    }
    
    .srh{
   margin-left: 27%;
  
   
}
.search{
    font-size: 10px;
    display: flex;
    align-items: center;
    padding: 4.5px;
    border-radius: 30px;
    background: #f6f6f6;
      width: 250px;
}
.search-input{
    font-size: 13px;
}

.nav-container{
    gap: 0.2rem;
    width: 100%;
}
.nav-menu{
    display: flex;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
  /* margin-right: 25rem; */
  gap: 0rem;
}
.srh{
    flex-direction: column;
    align-items: center;
    
}
.btn{
     padding: 0.5rem;
    width: 15vh;
    /* margin-top: 5px; */
    border-radius: 20px;
    font-size: 12px;
}
.addbtn{
    padding: 1rem;
    width: 10vh;
    font-size: 13px;
    /* margin-left: 50%; */
    margin-bottom: 2%;
    border-radius: 10px;
    border-color: transparent;
    color: #f6f6f6;
    background-color: rgb(20, 57, 20);
}
.add-col{
    margin-left: 4rem;
}

.nysc{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 20px;
}
.icon-close{
    width: 2vh;
}

.add-form {
    display: none;
    gap: 0.2rem;
    font-size: 12px;
}
.add-col{
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align:center;
    /* width: max-content; */
}

.input-space{
    font-size: 12px;
    color: #333;
    outline: none;
    border: none;
    background: solid #f6f6f6;
    width: 250px;
    padding: 12px;
    border-radius: 30px;
}




}


