body {
  background-image: url("./Images/mainbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin: 0;
  min-width: unset;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: -1;
}
.nav-container {
     display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    /* max-width: 1200px; */
    margin: 2rem auto;
    /* padding: 0 1rem; */
    /* flex-wrap: nowrap;  */
    gap: 1rem;
    font-size: 15px;
  /* display: flex;
  align-items: center;
  gap: 1.5rem; 
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem; */
}
.nav-menu{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;

  /* margin-top: 1.5rem; */
  /* margin-right: 25rem; */
}
.nav-menu a{
  position: relative;
  text-decoration: none;
  letter-spacing: 0.5px;
  /* padding: 0 5px; */
  color: rgba(0, 0, 0, 0.5);
  /* padding: 0.5rem 0.75rem; */
  font-size: 15px;
  transition: color 0.3s;
}
.editbtn{
    position: relative;
  text-decoration: none;
  letter-spacing: 0.5px;
  padding: 0 5px;
  color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}
.deletebtn{
    position: relative;
  text-decoration: none;
  letter-spacing: 0.5px;
  /* padding: 0 5px; */
  color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}
.editbtn::after, .deletebtn::after{
  content: "";
  position: absolute;
  background-color: rgb(95, 23, 23);
  height: 3px;
  left: 3px;
  bottom: 3px;
  cursor: pointer;
 opacity: 0.8s;
}
 a:hover:after{
  width: 100%;
}

.srh{
  display: flex;
  align-items: center;
  gap: 0.5rem;
    flex-wrap: nowrap;
  margin-left: auto;
}
.search{
    display: flex;
    align-items: center;
    /* margin-left: 40%; */
    padding: 5px 10px;
    /* width: max-content; */
    border-radius: 30px;
    background: #f6f6f6;

}

.close{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-top: 2%;
    padding: 4px;
    border-radius: 30px;
}
.icon-close{
    background-color: rgb(20, 57, 20);
    width: 2.5vh;
}
.icon-search{
    width: 1.5rem;
    color: #302d2d;
}
.search-input{
    font-size: 15px;
    color: #333;
    padding: 12px 15px;
    outline: none;
    border: none;
    background: transparent;
    width: 220px;
}
.search-input::placeholder,.search-icon  {
    color: rgba(0, 0, 0, 0.5);
}

.btn {
    padding: 0.6rem;
    width: 15vh;
    margin-top: 5px;
    border-radius: 30px;
    border-color: transparent;
    color: #f6f6f6;
    font-size: 13px;
    background-color: rgb(20, 57, 20);
    cursor: pointer;
}
.addbtn{
    padding: 1rem;
    width: 8vh;
    font-size: 13px;
    margin-left: 50%;
    margin-top: 1rem;
    margin-bottom: 2%;
    border-radius: 10px;
    border-color: transparent;
    color: #f6f6f6;
    background-color: rgb(20, 57, 20);
    cursor: pointer;
}
.add-col{
    margin-left: 4rem;
}
.add-col input{
    border: 2px solid #f6f6f6;
    display: block;

}
.add-col.sucess input{
    border-color: #13a479;
}
.add-col.error input {
    border-color: #ff3860;
}
.add-col .error{
    color: red;
    font-size: 9px;
    height: 13px;
}
.img1{
    width: 40px;
    height: 50px;
}
.main-container{
    margin-top: 5rem;
}
.nysc{
    display: flex;
    justify-content: center;
}
.add-form {
    display: none;
    gap: 1rem;
}
.add-col{
    margin-top: 2rem;
    gap: 0.6rem; 
    display: grid;
    justify-content: center;
    align-items: center;
    text-align:center;
}
label{
    display: grid;
    justify-content: left;
}
.input-space{
    font-size: 15px;
    color: #333;
    outline: none;
    border: none;
    background: solid #f6f6f6;
    width: 300px;
    padding: 14px;
    border-radius: 30px;
}
.col-mem {
   display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
}
table{
    width: 100%;
  margin: 3rem auto 2rem;
  background-color: #f6f6f6;
  border-collapse: collapse;
  box-shadow: 0px 5px 10px #333;
  max-width: 900px;   
  margin: 3rem auto;
}
thead{
    box-shadow: 0px 5px 10px #333;
}
th {
    background-color: transparent;
    padding: 1rem 2rem;
    text-align: center;
    white-space: nowrap;
}
tr{
  color: #333; 
}
td{
    width: max-content;
    text-align: center;
    padding: 1rem 2rem;
    white-space: nowrap;
}

@media (max-width: 1300px) {
    .nav-container {
    display: flex;
    justify-content: flex-start;
  }

  .nav-menu{
    font-size: 14px;
  }
  .srh{
       display: flex;
       justify-content: flex-end;
       align-items: end;
        gap: 0.5rem;
        width: auto;
  }
.btn{

}
  .search-input {
    width: 100%;
  }

  table {
    max-width: 80%;
  }

}

@media (max-width: 768px)  {
    .nav-menu{
        
        gap: 1.5rem;
        font-size: 12px;
}
 
.srh{
    
    flex-direction: column;
    align-items: end;
    gap: 0.75rem;
    width: 100%;
    margin-left: auto; 
}

.search-input{
    width: 90%;

}
.btn{
    font-size: 10px;
}
.addbtn{
    padding: 0.5rem;
    width: 10vh;
    font-size: 10px;
    margin-left: 50%;
    margin-bottom: 2%;
    border-radius: 10px;
    border-color: transparent;
    color: #f6f6f6;
    background-color: rgb(20, 57, 20);
}

.add-col{
    margin-left: 4rem;
}

.nysc{
    display: flex;
    justify-content: center;
    font-size: 12px;
}
h1{
    font-size: 20px;
}
.close{
    width: 3vh;
}
.icon-close{
    margin-left: 40rem;
}

.add-form {
    display: none;
    gap: 0.2rem;
    font-size: 12px;
}
.add-col{
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align:center;
}

label{
    display: grid;
    justify-content: left;
}
.input-space{
    font-size: 12px;
    color: #333;
    outline: none;
    border: none;
    background: solid #f6f6f6;
    width: 250px;
    padding: 12px;
    border-radius: 30px;
}
.col-mem {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
table{
    background-color: #f6f6f6;
    border-collapse: collapse;
    box-shadow: 0px 5px 10px #333;
    overflow: hidden;
    font-size: 13px;
    margin-bottom: 2rem;
}
thead{
    box-shadow: 0px 5px 10px #333;
}
th {
    background-color: transparent;
    padding: 1rem 2rem;
    
}
tr{
  color: #333; 
}
td{
    width: max-content;
    text-align: center;
    padding: 1rem 2rem;
}

}

@media (max-width: 500px) {
    body{
        font-size: 12px;
        margin: 0;
    
    }
    .nav-container {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.5rem 1rem;
    }

    .nav-menu {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        font-size: 8px;
    }

    .srh {
        flex-direction: column-reverse; 
        justify-content: center;
    }

    .search {
        width: 80%;
        padding: 8px 15px;
        border-radius: 25px;
        margin-top: 1rem;
    }

    .search-input {
        width: 100%;
        font-size: 12px;
        padding: 8px 12px;
    }

.btn {
    font-size: 10px;
}

.input-space {
    width: 220px;
    font-size: 12px;
}

.nysc{
    display: flex;
    justify-content: center;
    font-size: 6px;
}
.icon-close{
    margin-left: 30rem;
    
}
.col-mem{
    width: 100%;
    overflow-x: auto;
}
table{
    width: 450px; 
    font-size: 10px;
}
 th, td {
    padding: 0.5rem;
    white-space: wrap;
  }

 
}

 


